body {
    background-color: white;
    color: black;
}

table {
    width: 95%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    width: 1300px;
    position: fixed;
    border-collapse: collapse;
    height: 40px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 4px 4px 4px 4px;
    margin: 0 5px 0 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

th:hover {
    background-color: black;
}

th {
    transition: background-color 0.5s;
    color: 0.5s;
    height: 40px;
}

.Info {
    text-align: center;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.Photo {
    margin-top: 40px;
    margin-left: 35px;
}

.Heading {
    border: solid;
}

.About {
    margin-top: 40px;
    font-size: 50px;
}

.Education {
    margin-top: 40px;
    font-size: 50px;
}

.Project {
    margin-top: 40px;
    font-size: 50px;
}

.Skill {
    margin-top: 40px;
    font-size: 50px;
}

h2 {
    background: rgba(0, 0, 0, 0.7);
}

#footer {
    margin-left: 50px;
    margin-right: 35px;
}

li {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}